<li id="<%= comment.id %>">
  <div class="row">
    <aside class="span1">
      <%= link_to gravatar_for(comment.user, size: 52), comment.user %>
    </aside>
    <div class="span7">
      <span class="user">
        <a href=<%= user_path(comment.user) %>><%= comment.user.name %></a>
      </span>
      <span class="content"><%= comment.content %></span>
      <span class="timestamp"><%= comment.created_at %></span>
      <% if current_user?(comment.user) %>    
         <!--<div class="btn btn-mini">Edit</div>-->                     
         <%= link_to(comment, method: :delete, data: { confirm: "Are you sure?" }, title: comment.content) do %>
           <div class="btn btn-mini">Delete</div>
         <% end %>
      <% end %>
    </div>
  </div>
</li>