<li id="<%= feed_item.id %>">
  <div class="row">
    <aside class="span1">
      <%= link_to gravatar_for(feed_item.user, size: 52), feed_item.user %>
    </aside>
    <div class="span7">
      <span class="user">
        <%= link_to feed_item.user.name, feed_item.user %>
      </span>
      <span class="title"><%= wrap(feed_item.title) %></span>
      <span class="content"><%= wrap(feed_item.content) %></span>
      <span class="timestamp">
        <%= feed_item.created_at %>. 
      </span>
      <% if current_user?(feed_item.user) %>    
         <div class="btn btn-mini">Edit</div>                     
         <%= link_to(feed_item, method: :delete, data: { confirm: "Are you sure?" }, title: feed_item.content) do %>
           <div class="btn btn-mini">Delete</div>
         <% end %>
      <% end %>
    </div>
  </div>
</li>